.case-det-pg-st1 {

    .text-list {
        // margin-top: 20px;
        li {
            display: flex;
            align-items: center;
            margin: 12px 0;
            font-size: 16px;
            text-transform: capitalize;
            strong {
                width: 50%;
            }
        }
    }

    .tc-pg-related-st1 {
        position: relative;
        padding: 150px 0;
    }

    .case-card {
        position: relative;
        background-color: #fff;
        border-radius: 30px;
        overflow: hidden;
        box-shadow: 0 94px 94px 0 rgba(0, 0, 0, 0.03);
        margin-top: 50px;
        &:hover {
            .img {
                .float-arrow {
                    opacity: 1;
                    transform: scale(1);
                }
            }
        }
        .img {
            display: block;
            position: relative;
            height: 550px;
            border-radius: 30px;
            overflow: hidden;
            .float-arrow {
                position: absolute;
                left: calc(50% - 50px);
                top: calc(50% - 50px);
                transform: scale(0.7);
                width: 100px;
                height: 100px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 50%;
                background-image: var(--ln-orange1);
                color: #fff;
                font-size: 30px;
                opacity: 0;
                transition: all 0.3s ease;
            }
        }
        .info {
            padding: 30px;
        }
    }

}



@media screen and (max-width: 991px) {
    .case-det-pg-st1 {
        .img {
            height: 400px !important;
        }
        .sub-imgs {
            .img {
                height: 300px !important;
            }
        }
        .case-card .img {
            height: 350px !important;
        }
    }
}
