.price-table-pg-st1 {

    /* --------------- pricing st1 --------------- */
    .tc-pricing-st1 {
        position: relative;
        padding: 0;
        background-image: none;
        overflow: hidden;

        .line {
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
            transition: all 5s ease-in-out;
            &.animated {
                clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
            }
        }

        .row {
            .col-lg-4 {
                &:nth-of-type(2){
                    .price-card {
                        .card-body {
                            &::before {
                                background-image: var(--ln-green1);
                            }
                        }
                    }
                }
                &:nth-of-type(3){
                    .price-card {
                        .card-body {
                            &::before {
                                background-image: var(--ln-blue1);
                            }
                        }
                    }
                }
            }
        }

        .price-card {
            position: relative;
            padding: 30px;
            background-color: #fff;
            border-radius: 30px;
            box-shadow: 0px 94px 94px 0px rgba(0, 0, 0, 0.03);
            .card-head {
                padding: 20px 0;
            }
            .card-body {
                position: relative;
                padding: 30px 20px;
                border-radius: 30px;
                overflow: hidden;
                margin-top: 30px;
                &::before {
                    position: absolute;
                    content: "";
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    background-image: var(--ln-orange1);
                    opacity: 0.1;
                }
                .price {
                    font-size: 24px;
                    font-weight: 400;
                    margin-bottom: 20px;
                    small {
                        font-size: 16px;
                    }
                }
                .card-list {
                    li {
                        font-size: 16px;
                        margin: 15px 0;
                        strong {
                            color: #191919;
                        }
                        .fa-check {
                            font-size: 13px;
                            margin-inline-end: 10px;
                        }
                    }
                }
            }
        }

        .marq-text {
            position: relative;
            overflow: hidden;
            margin: 150px 0;

            .swiper-wrapper {
                -webkit-transition-timing-function: linear !important;
                transition-timing-function: linear !important;
                position: relative;
            }
            .swiper-slide{
                width: max-content !important;
            }

            h2 {
                font-size: 120px;
                white-space: nowrap;
            }

        }

    }

    @media screen and (max-width: 991px) {
        .tc-pricing-st1 {
            .price-card {
                margin-top: 30px;
            }
            .marq-text h2 {
                font-size: 60px;
            }
        }
    }


    /* --------------- video st1 --------------- */
    .tc-video-st1 {
        position: relative;

        .video-card {
            position: relative;
            .bg {
                height: 700px;
                width: 100%;
                border-radius: 30px;
                object-fit: cover;
            }
            .float-cont {
                position: absolute;
                left: 0;
                bottom: 0;
                width: 100%;
                padding: 80px 4vw;
                z-index: 2;
                .play-btn {
                    width: 150px;
                    height: 150px;
                    background-image: var(--ln-orange1);
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 30px;
                    color: #fff;
                }
                .title {
                    font-size: 52px;
                    color: #fff;
                    margin-top: 40px;
                }
            }
        }

    }

    @media screen and (max-width: 991px) {
        .tc-video-st1 {

        }
    }


    /* --------------- choose st1 --------------- */
.tc-choose-st1 {
    position: relative;
    padding: 120px 0;
    background-image: url(../img/choose_bg.png);
    background-size: cover;
    background-position: bottom;

    .num-line {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        transition: all 3s ease-in-out;
        &.animated {
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
        }
    }

    .choose-card {
        display: block;
        position: relative;
        margin-bottom: 40px;
        &:hover {
            .arrow {
                color: var(--cr-orange1);
                &::before {
                    background-color: var(--cr-orange1);
                }
            }
        }

        .icon {
            height: 90px;
            margin-bottom: 30px;
        }

        .arrow {
            position: relative;
            margin-top: 40px;
            font-size: 15px;
            padding-inline-start: 32px;
            color: #ccc;
            &::before {
                position: absolute;
                content: "";
                left: 0;
                top: calc(50% - 2px);
                width: 40px;
                height: 2px;
                background-color: #ccc;
            }
        }

    }

    .numbers {
        position: relative;
        background-color: #fff;
        border-radius: 30px;
        padding: 4vw;
        box-shadow: 0 94px 94px 0 rgba(0, 0, 0, 0.03);
        .num-card {
            position: relative;
            text-align: center;
            padding-top: 40px;
            .shap {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
            }
        }
    }

}

@media screen and (max-width: 991px) {
    .tc-choose-st1 {
        padding-bottom: 0;
        .numbers .num-card {
            margin: 25px 0;
        }
    }
}


}



@media screen and (max-width: 991px) {

}