.shop-det-pg-st1 {
    position: relative;

    .tc-pg-slider-st1 {

        .img-slider {
            position: relative;
            overflow: hidden;
            margin-top: 50px;
            .gallery-top {
                margin-bottom: 30px;
                .img {
                    height: 550px;
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: contain;
                    }
                }
            }
            .gallery-thumbs {
                position: relative;
                flex-shrink: 0;
                .img {
                    height: 100%;
                    cursor: pointer;
                    border-radius: 15px;
                    overflow: hidden;
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: contain;
                    }
                }
            }
        }

        .info {
            position: relative;
            margin-top: 50px;

            .rate {
                display: flex;
                align-items: center;
                font-size: 16px;
                margin-top: 30px;
                .stars {
                    margin-inline-end: 20px;
                }
            }

            .product-qyt {
                display: flex;
                align-items: center;
                margin-top: 30px;
                .txt {
                    flex-shrink: 0;
                    margin-inline-end: 15px;
                    font-size: 16px;
                }
            }

        }

        .add-more {
            padding: 5px 10px;
            background-color: #fff;
            border-radius: 10px;
            display: flex;
            justify-content: space-between;
            border: 1px solid #999;
            border-radius: 30px;
            .qt{
                min-width: 40px;
                text-align: center;
                color: #000;
                font-weight: bold;
                width: 110px;
            }
            span {
                cursor: pointer;
                padding: 5px;
            }
        }

    }

    .tc-pg-subInfo-st1 {
        position: relative;
        padding: 75px 0;

        .nav-pills {
            position: relative;
            margin-bottom: 30px;
            .nav-link {
                padding: 15px 40px;
                border-radius: 100px;
                font-size: 16px;
                font-weight: bold;
                border: 1px solid #9993;
                margin-inline-end: 30px;
                color: #191919;
                background-color: transparent;
                &.active,
                &:active {
                    background-image: var(--ln-orange1);
                    color: #fff;
                    border-color: transparent;
                }
            }
        }

        .check-list {
            margin-top: 40px;
            li {
                display: flex;
                margin: 15px 0;
                color: #191919;
                .icon {
                    flex-shrink: 0;
                    margin-inline-end: 15px;
                }
            }
        }

        .product-reviews {
            position: relative;
            padding: 4vw;
            border-radius: 15px;
            background-image: linear-gradient(126deg, #FF5F6D11 22.58%, #FFC37111 73.54%);;
        
            .stars{
                display: inline-flex;
                font-size: 12px;
                color: #d0d0d0;
                .active{
                    color: #ffba00;
                }
            }
        
            .rate-stars{
                display: block;
                position: relative;
                text-align: end;
                margin-bottom: 30px;
                direction: rtl;
                input {
                    border-radius: 0;
                    visibility: hidden;
                    width: 20px;
                    cursor: pointer;
                    &:after {
                        content: "\f005";
                        font-family: "Font Awesome 5 pro";
                        font-weight: 900;
                        font-size: 20px;
                        color: #eee;
                        visibility: visible;
                        display: inline-block;
                        width: 20px;
                        height: 20px;
                        -webkit-transition: background 0.3s;
                        transition: background 0.3s;
                        // text-shadow: 0px 2px 4px RGBA(0, 0, 0, 0.2);
                        -webkit-transition: -webkit-transform 0.6s;
                        transition: -webkit-transform 0.6s;
                        transition: transform 0.6s;
                        transition: transform 0.6s, -webkit-transform 0.6s;
                    }
                    &:hover:after {
                        opacity: 0.8;
                    }
                    &:checked:after {
                        color: #fc0;
                        -webkit-transform: scale(1.3);
                        transform: scale(1.3);
                    }
                    &:checked ~ input:after {
                        color: #fc0;
                    }
                    &:not(:checked):after {
                        color: #eee;
                    }
                }
            }
    
        }

    }

    .form-check-input:checked {
        background-color: var(--cr-orange1);
        border-color: var(--cr-orange1);
    }

    .form-control {
        border-radius: 50px;
        min-height: 50px;
        padding: 15px;
    }
    textarea.form-control {
        border-radius: 15px;
    }
    

}




@media screen and (max-width: 991px) {
    .shop-det-pg-st1 {
        .tc-pg-slider-st1 {
            .img-slider {
                .gallery-top {
                    .img {
                        height: max-content;
                    }
                }
            }
        }
        .tc-pg-subInfo-st1 {
            border-top: 1px solid #9999;
            border-bottom: 1px solid #9999;
            margin-top: 75px;
            .nav-pills {
                .nav-link {
                    font-size: 14px;
                    padding: 12px 30px;
                }
            }
        }
    }
}