.shop-pg-st1 {

    .tc-pg-shop-banner-st1 {
        position: relative;
        padding: 75px 0;
        .banner-card {
            position: relative;
            .img {
                height: 700px;
                border-radius: 30px;
                overflow: hidden;
            }
            .info {
                position: absolute;
                padding: calc(3vw + 30px);
                left: 0;
                top: 0;
                z-index: 10;
                .title {
                    position: relative;
                    padding: 30px;
                    margin-top: 20px;
                    .bg {
                        position: absolute;
                        left: 0;
                        top: 0;
                        width: 100%;
                        height: 100%;
                    }
                    h2 {
                        position: relative;
                        font-size: 82px;
                        z-index: 10;
                    }
                }
                
            }
        }
    }
    
    .tc-pg-products-st1 {
        position: relative;
        padding: 75px 0;
    }
    
}

.products {
    .product-card {
        display: block;
        position: relative;
        margin-bottom: 20px;
        &:hover {
            .img {
                .float-arrow {
                    opacity: 1;
                    transform: scale(1);
                }
            }
        }
        .img {
            height: 370px;
            position: relative;
        }
        .float-arrow {
            position: absolute;
            left: calc(50% - 50px);
            top: calc(50% - 50px);
            transform: scale(0.7);
            width: 100px;
            height: 100px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            background-image: var(--ln-orange1);
            color: #fff;
            font-size: 30px;
            opacity: 0;
            transition: all 0.3s ease;
        }
        .info {
            .tags {
                font-size: 12px;
            }
            .price {
                font-size: 21px;
                color: #000;
                small {
                    font-size: 15px;
                    color: #666;
                }
            }
        }
    }
}


@media screen and (max-width: 991px) {
    .shop-pg-st1 {
        .tc-pg-shop-banner-st1 {
            .banner-card {
                .img {
                    height: 350px;
                }
                .info {
                    .title {
                        h2 {
                            font-size: 25px;
                        }
                    }
                }
            }
        }
        .tc-pg-products-st1 {
            .products {
                .product-card {
                    background-color: #f9f9f9;
                    padding: 20px;
                    .img {
                        height: 200px;
                    }
                }
            }
        }
    }
}