/* --------------- side_menu_style4 --------------- */
.side_menu_style4{
    position: fixed;
    z-index: 9999;
    right: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    min-height: max-content;
    background-color: #f9f9f9;
    background-image: linear-gradient(126deg, #08B25933 22.58%, #F3E51A33 73.54%);;
    background-size: cover;
    background-repeat: repeat;
   //  color: #fff;
    padding: 0 4vw;
    display: flex;
    align-items: center;
    justify-content: center;
    clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
     // transition: all 0.5s cubic-bezier(.1,0.6,0.6,.1);
     transition: all 0.5s ease-in-out;
     transition-delay: 0.4s;
     &.show {
         clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
         .side_shape {
            transform: rotate(0) scale(1);
            opacity: 1;
         }
         .side_shape2 {
            transform: rotate(180deg) scale(1);
            opacity: 1;
         }
         .main_links{
            text-align: center;
            transform: scaleX(1) scaleY(1);
            opacity: 1;
            filter: blur(0);
         }
     }
 
    .links_group{
       width: max-content;
       display: block;
    }
 
    .main_links{
      text-align: center;
      transform: scaleX(1.4) scaleY(1.8);
      filter: blur(2px);
      opacity: 0;
      transition: all 0.7s ease;
      transition-delay: 1s;
       .main_link{
          font-size: calc(2vw + 10px);
          font-weight: bolder;
          margin: 5px 0;
          text-transform: uppercase;
          -webkit-text-stroke: 1px var(--cr-orange1);
          color: transparent;
          text-shadow: 2px 2px 0 var(--cr-orange1);
          &:hover {
             color: var(--cr-orange1);
             text-shadow: 2px 2px 15px var(--cr-orange1);
          }
       }
    }
 
    .social_links{
       a{
          font-size: 24px;
          margin-inline-end: 15px;
          border-bottom: 3px solid transparent;
          &:hover{
             border-color: #000;
          }
       }
    }

    .clss {
      font-size: 30px;
      position: absolute;
      top: 50px;
      right: 5vw;
      cursor: pointer;
    }

 }
 
 .side_menu4_overlay {
    position: absolute;
    z-index: 90;
    right: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: var(--cr-orange1);
    clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
    // transition: all 0.5s cubic-bezier(.1,0.6,0.6,.1);
    transition: all 0.5s ease-in-out;
    &.show {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
 }
 
 .side_menu4_overlay2 {
    position: absolute;
    z-index: 80;
    right: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: var(--cr-orange1);
    clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
    // transition: all 0.5s cubic-bezier(.1,0.6,0.6,.1);
    transition: all 0.5s ease-in-out;
    transition-delay: 0.7s;
    &.show {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
        transition-delay: 0.1s;
    }
 }

@media screen and (max-width: 991px) {

}