.testimonials-pg-st1 {
    position: relative;

    .testi-card {
        padding: 35px 20px;
        border-radius: 30px;
        background: #FFF;
        box-shadow: 0px 94px 94px 0px rgba(0, 0, 0, 0.05);
        margin-bottom: 24px;
        transition: all 0.5s ease;
        .user-rate {
            display: flex;
            align-items: center;
            margin-bottom: 30px;
            .icon {
                height: 30px;
                margin-inline-end: 20px;
                flex-shrink: 0;
            }
            .stars {
                background-image: var(--ln-orange1);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                display: inline-block;
                // color: var(--cr-orange1);
            }
            p {
                font-size: 16px;
                color: #5B5B5B;
                margin-bottom: 5px;
            }
        }
        .main-text {
            font-size: 24px;
            margin-bottom: 30px;
            font-weight: 500;
            line-height: 1.8;
        }
        .user-info {
            h6 {
                font-size: 24px;
                font-weight: bold;
                margin-bottom: 5px;
            }
            p {
                font-size: 16px;
                color: #5B5B5B;
            }
        }
    }


}



@media screen and (max-width: 991px) {

}