/* --------------- blog st1 --------------- */
.tc-case-st1 {
    position: relative;
    padding: 120px 0;
    background-image: url(../img/blog_bg.png);
    background-size: cover;
    background-position: top;
    overflow: hidden;

    .cases-slider {
        padding-bottom: 80px;
        .swiper-wrapper {
            align-items: end;
            .swiper-slide {
                &:nth-of-type(even){
                    .case-card {
                        .img {
                            height: 520px;
                        }
                    }
                }
            }
        }
    }

    .case-card {
        position: relative;
        background-color: #fff;
        border-radius: 30px;
        overflow: hidden;
        box-shadow: 0 94px 94px 0 rgba(0, 0, 0, 0.03);
        &:hover {
            .img {
                .float-arrow {
                    opacity: 1;
                    transform: scale(1);
                }
            }
        }
        .img {
            display: block;
            position: relative;
            height: 370px;
            border-radius: 30px;
            overflow: hidden;
            .float-arrow {
                position: absolute;
                left: calc(50% - 50px);
                top: calc(50% - 50px);
                transform: scale(0.7);
                width: 100px;
                height: 100px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 50%;
                background-image: var(--ln-orange1);
                color: #fff;
                font-size: 30px;
                opacity: 0;
                transition: all 0.3s ease;
            }
        }
        .info {
            padding: 30px;
        }
    }

}

@media screen and (max-width: 991px) {
    .tc-case-st1 {

    }
}