/* --------------- header st1 --------------- */
.tc-header-st1 {
    position: relative;
    padding: 50px 0 100px;

    .social-links {
        position: absolute;
        left: 2vw;
        top: 50%;
        transform: translateY(-50%);
        a {
            display: block;
            width: max-content;
            margin: 10px 0;
            font-weight: bold;
            transform: rotate(-90deg);
            &:hover {
                color: var(--cr-orange1);
            }
        }
        .line {
            height: 90px;
            width: 1px;
            background-color: #000;
            margin: 10px 10px 0;
        }
    }

    .container {
        position: relative;
        z-index: 10;
    }

    .info {
        h1 {
            font-size: 82px;
            line-height: 1.1;
        }
    }

    .contact-card {
        display: inline-flex;
        padding: 20px;
        border: 1px solid #FF5F6D11;
        border-radius: 10px;
        margin-top: 50px;
        margin-inline-start: 50px;
        .icon {
            margin-inline-end: 20px;
            flex-shrink: 0;
        }
        small {
            display: block;
            font-size: 16px;
            margin-bottom: 5px;
        }
        .lnk {
            font-size: 18px;
            font-weight: bold;
            &:hover {
                color: var(--cr-orange1);
            }
        }
    }

    .bg-shap {
        position: absolute;
        bottom: 50px;
        left: 0;
        width: 100%;
        // height: 100%;
        z-index: 1;
        max-height: unset;
        pointer-events: none;
    }

    .line-circle {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        // height: 100%;
        z-index: 20;
        max-height: unset;
        pointer-events: none;
    }

    .float-circle {
        position: absolute;
        top: 0;
        left: 40%;
        pointer-events: none;
        width: 150px;
        height: 150px;
        animation-duration: 20s;
    }

    .circle-3d {
        position: absolute;
        bottom: 20%;
        left: 35%;
        pointer-events: none;
        // width: 150px;
        height: 100px;
        animation-duration: 40s;
        animation-direction: reverse;
    }

}

@media screen and (max-width: 991px) {
    .tc-header-st1 {
        .info {
            h1 {
                font-size: 55px;
            }
        }
        .social-links {
            display: none;
        }
    }
}