/* --------------- service st1 --------------- */
.tc-service-st1 {
    position: relative;

    .services-cards {
        position: relative;
        background-color: #fff;
        border-radius: 30px;
        box-shadow: 0 94px 94px 0 rgba(0, 0, 0, 0.03);
        padding-bottom: 50px;

        .service-card {
            position: relative;
            text-align: center;
            padding: 50px;
            .icon {
                height: 75px;
                width: 75px;
                margin: 0 auto 10px;
            }
            p {
                font-size: 16px;
                margin-bottom: 20px;
            }
            .title {
                font-size: 24px;
                margin-bottom: 20px;
            }
        }

        .btm-text {
            position: relative;
            margin: 0 50px;
            text-align: center;
            &::before {
                position: absolute;
                content: "";
                left: 0;
                top: 50%;
                width: 100%;
                height: 1px;
                background-color: #9993;
            }
            .text {
                font-size: 16px;
                padding: 10px 50px;
                background-color: #fff;
                position: relative;
                z-index: 10;
            }
        }

    }

}

@media screen and (max-width: 991px) {
    .tc-service-st1 {

    }
}