/* --------------- testimonials st1 --------------- */
.tc-testimonials-st1 {
    position: relative;
    padding: 50px 0;
    overflow: hidden;

    .bg {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 80%;
    }

    .testimonials-slider {
        position: relative;
        // overflow: hidden;
        .swiper-slide {
            opacity: 0;
            transform: scale(0.8);
            transition: all 0.3s ease;
            &.swiper-slide-active {
                opacity: 1;
                transform: scale(1);
            }
        }
        .arrows {
            position: relative;
            display: flex;
            justify-content: end;
            margin-top: -50px;
            z-index: 50;
            .swiper-next,
            .swiper-prev {
                font-size: 18px;
                margin: 10px;
                &:hover {
                    color: var(--cr-orange1);
                }
            }
        }
    }

    .img {
        position: relative;
        z-index: 30;
    }

    .testi-card {
        .rate {
            display: flex;
            align-items: center;
            margin-bottom: 30px;
            .icon {
                height: 30px;
                margin-inline-end: 20px;
                flex-shrink: 0;
            }
            .stars {
                i {
                    font-size: 18px;
                    background-image: var(--ln-orange1);
                    -webkit-background-clip: text; 
                    -webkit-text-fill-color: transparent; 
                }
            }
        }
        .text-main {
            position: relative;
            padding: 30px 30px 30px 0;
            font-size: 32px;
            color: #191919;
            line-height: 1.3;
            margin-bottom: 30px;
            z-index: 30;
            &::before {
                position: absolute;
                content: "";
                left: -150px;
                top: 0;
                height: 100%;
                width: calc(100% + 150px);
                border-radius: 30px;
                background: #FFF;
                box-shadow: 0px 94px 94px 0px rgba(0, 0, 0, 0.03);
                z-index: -1;
            }
        }
    }

}

@media screen and (max-width: 991px) {
    .tc-testimonials-st1 {

    }
}