/* --------------- video st1 --------------- */
.tc-video-st1 {
    position: relative;

    .video-card {
        position: relative;
        .bg {
            height: 700px;
            width: 100%;
            border-radius: 30px;
            object-fit: cover;
        }
        .float-cont {
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            padding: 80px 4vw;
            z-index: 2;
            .play-btn {
                width: 150px;
                height: 150px;
                background-image: var(--ln-orange1);
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 30px;
                color: #fff;
            }
            .title {
                font-size: 52px;
                color: #fff;
                margin-top: 40px;
            }
        }
    }

}

@media screen and (max-width: 991px) {
    .tc-video-st1 {

    }
}