/* ========= [ * page-home_2 ]  =========*/

// navbar
@import "navbar";

// side_menu
@import "side_menu";

// header
@import "header";

// services
@import "services";

// about
@import "about";

// video
@import "video";

// choose
@import "choose";

// case
@import "case";

// faq
@import "faq";

// pricing
@import "pricing";

// testimonials
@import "testimonials";

// blog
@import "blog";

// footer
@import "footer";

// ------------ home style ------------
.home-st1 {
  color: #5b5b5b;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #191919;
  }

  .swiper-pagination {
    .swiper-pagination-bullet {
      width: 5px;
      height: 5px;
      background-color: #000;
      margin: 10px;
      opacity: 1;
      &.swiper-pagination-bullet-active {
        outline: 1px solid var(--cr-orange1);
        background-color: var(--cr-orange1);
        outline-offset: 8px;
      }
    }
  }

  .loader-wrap svg {
    fill: var(--cr-orange1);
  }
}

@media screen and (max-width: 991px) {
  .home-st1 {
    br {
      display: none;
    }
    .fsz-50 {
      font-size: 30px !important;
    }
    .fsz-45 {
      font-size: 25px !important;
    }

    .fsz-40 {
      font-size: 25px !important;
    }
    .mb-90 {
      margin-bottom: 40px !important;
    }
    .fsz-30 {
      font-size: 18px !important;
    }

    .mb-50 {
      margin-bottom: 30px !important;
    }

    .mt-5 {
      margin-top: 2rem !important;
    }
  }
}
