/* --------------- cases st3 --------------- */
.tc-cases-st3 {
    position: relative;
    // background-color: #FFF8F8;
    background-image: linear-gradient(124deg, #FFF7F8 22.75%, #FFFCF8 72.61%);
    padding: 150px 0 75px;
    overflow: hidden;

    .bg-line {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
    }

    .cases-slider {
        position: relative;
        padding-bottom: 70px;
        
    }

    .case-card {
        position: relative;
        display: block;
        
        &:hover {
            .info {
                .card-title {
                    color: var(--cr-orange1);
                }
            }
        }
        .img {
            height: 570px;
            border-radius: 30px;
            overflow: hidden;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .info {
            padding-top: 30px;
            .card-title {
                font-size: 32px;
                transition: all 0.3s ease;
            }
        }
    }

}

@media screen and (max-width: 991px) {
    .tc-cases-st3 {
        .case-card {
            .img {
                height: 350px;
            }
        }
    }
}