/* --------------- footer st1 --------------- */
.tc-footer-st1 {
    position: relative;

    .bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .links-content {
        position: relative;
        padding: 180px 0 100px;
        
        * {
            color: #fff;
        }
    }

    .links {
        a {
            margin: 8px 0;
            font-size: 16px;
            &:hover {
                color: var(--cr-orange1);
            }
        }
    }

    .subscribe {
        padding-bottom: 170px;
        * {
            color: #fff;
        }
        .form-group {
            display: flex;
            input {
                min-height: 60px;
                background-color: #fff3;
                border-radius: 100px;
                width: 100%;
                border: 0;
                color: #fff;
                padding: 15px 30px;
                &::placeholder {
                    color: #fff9;
                }
            }
            .arrow {
                width: 60px;
                height: 60px;
                border-radius: 50%;
                background-image: var(--ln-orange1);
                border: 0;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                flex-shrink: 0;
            }
        }
    }

}

@media screen and (max-width: 991px) {
    .tc-footer-st1 {
        .bg {
            object-fit: cover;
        }
        .subscribe .form-group {
            margin-top: 30px;
        }
    }
} 