/* --------------- footer st2 --------------- */
.tc-team-st3 {
    position: relative;
    padding: 75px 0;

    .cards {

        .row {
            .col-lg-3 {
                &:nth-of-type(1){
                    .team-card {
                        .info {
                            .social-icons {
                                background-image: var(--ln-orange1);
                                -webkit-background-clip: text;
                                -webkit-text-fill-color: transparent;
                            }
                        }
                    }
                }
                &:nth-of-type(2){
                    .team-card {
                        .info {
                            .social-icons {
                                background-image: var(--ln-green1);
                                -webkit-background-clip: text;
                                -webkit-text-fill-color: transparent;
                            }
                        }
                    }
                }
                &:nth-of-type(3){
                    .team-card {
                        .info {
                            .social-icons {
                                background-image: var(--ln-blue1);
                                -webkit-background-clip: text;
                                -webkit-text-fill-color: transparent;
                            }
                        }
                    }
                }
                &:nth-of-type(4){
                    .team-card {
                        .info {
                            .social-icons {
                                background-image: var(--ln-purple1);
                                -webkit-background-clip: text;
                                -webkit-text-fill-color: transparent;
                            }
                        }
                    }
                }
            }
        }

        .team-card {
            position: relative;
            border-radius: 30px;
            overflow: hidden;
            box-shadow: 0px 94px 94px 0px rgba(0, 0, 0, 0.05);
            background-color: #fff;
            .img {
                height: 350px;
                border-radius: 30px;
                overflow: hidden;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            .info {
                padding: 25px;
                .social-icons {
                    margin-top: 15px;
                    background-image: var(--ln-orange1);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    a {
                        font-size: 16px;
                        font-weight: bold;
                        margin-inline-end: 20px;
                    }
                }
            }
        }
    }

}

@media screen and (max-width: 991px) {
    .tc-team-st3 {
        .cards {
            .team-card {
                margin-bottom: 30px;
            }
        }
    }
}