/* --------------- testimonials st3 --------------- */
.tc-testimonials-st3 {
    position: relative;
    padding: 75PX 0;
    overflow: hidden;

    .shap {
        position: absolute;
        top: 0;
        width: 100%;
    }

    .testimonials-slider {
        position: relative;
        z-index: 10;
        padding-bottom: 100px;

        .swiper-slide {
            .testi-card {
                opacity: 0.6;
                transform: scale(0.9);
            }
        }
        .swiper-slide-active {
            .testi-card {
                opacity: 1;
                transform: scale(1.1);
            }
        }

        .testi-card {
            padding: 40px;
            border-radius: 30px;
            background: #FFF;
            box-shadow: 0px 94px 94px 0px rgba(0, 0, 0, 0.03);
            transition: all 0.5s ease;
            .user-rate {
                display: flex;
                align-items: center;
                margin-bottom: 30px;
                .icon {
                    height: 30px;
                    margin-inline-end: 20px;
                    flex-shrink: 0;
                }
                .stars {
                    color: var(--cr-orange1);
                }
                p {
                    font-size: 16px;
                    color: #5B5B5B;
                    margin-bottom: 5px;
                }
            }
            .main-text {
                font-size: 24px;
                margin-bottom: 20px;
                font-weight: 500;
            }
            .user-info {
                h6 {
                    font-size: 24px;
                    font-weight: bold;
                    margin-bottom: 5px;
                }
                p {
                    font-size: 16px;
                    color: #5B5B5B;
                }
            }
        }

    } 

}

@media screen and (max-width: 991px) {
    .tc-testimonials-st3 {

    }
}