/* ========= [ * page-home_2 ]  =========*/

// side_menu
@import "side_menu";

// navbar
@import "navbar";

// header
@import "header";

// partners
@import "partners";

// about
@import "about";

// team
@import "team";

// offer
@import "offer";

// faq
@import "faq";

// video
@import "video";

// cases
@import "cases";

// testimonials
@import "testimonials";

// blog
@import "blog";

// footer
@import "footer";

// ------------ home style ------------
.home-st3 {
  .text {
    color: #5b5b5b;
  }

  .swiper-pagination {
    bottom: 0;
    text-align: start;
    .swiper-pagination-bullet {
      width: 5px;
      height: 5px;
      background-color: #000;
      margin: 10px;
      opacity: 1;
      &.swiper-pagination-bullet-active {
        outline: 1px solid var(--cr-orange1);
        background-color: var(--cr-orange1);
        outline-offset: 8px;
      }
    }
  }

  .loader-wrap svg {
    fill: var(--cr-orange1);
  }
}

@media screen and (max-width: 991px) {
  .home-st3 {
    br {
      display: none;
    }
    .fsz-50 {
      font-size: 30px !important;
    }
    .fsz-45 {
      font-size: 25px !important;
    }

    .fsz-40 {
      font-size: 25px !important;
    }
    .mb-90 {
      margin-bottom: 40px !important;
    }
    .fsz-30 {
      font-size: 18px !important;
    }

    .mb-50 {
      margin-bottom: 30px !important;
    }

    .mt-5 {
      margin-top: 2rem !important;
    }

    section {
      padding: 40px 0 !important;
    }
  }
}
