/* --------------- header st2 --------------- */
.tc-header-st2 {
    position: relative;
    padding: 120px 0;
    min-height: 100vh;
    overflow: hidden;
    * {
        color: #fff;
    }
    &::after {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        height: calc(100% - 130px);
        width: 100%;
        background-image: linear-gradient(34deg, #392D69 22.75%, #B57BEE 72.61%);
    }

    .or-circle {
        position: absolute;
        left: -10px;
        bottom: 0;
        height: calc(100% - 100px);
        width: calc(100% + 20px);
        max-width: unset;
        z-index: 2;
    }

    .circle {
        width: 28vw;
        height: 28vw;
        position: absolute;
        left: -5vw;
        top: -5vw;
        z-index: 5;
    }

    .float-circle {
        position: absolute;
        top: 180px;
        left: 27%;
        pointer-events: none;
        width: 150px;
        height: 150px;
        animation-duration: 10s;
        animation-direction: reverse;
        z-index: 5;
    }

    .container {
        position: relative;
        z-index: 20;
    }

    .social-links {
        position: absolute;
        left: 2vw;
        bottom: 25%;
        z-index: 30;
        a {
            display: block;
            width: max-content;
            margin: 15px 0;
            font-weight: bold;
            transform: rotate(-90deg);
            color: #fff;
            &:hover {
                color: #191919;
            }
        }
    }

    .info {
        position: relative;
        z-index: 10;
        h1 {
            font-size: calc(4vw + 35px);
            line-height: 1;
            color: #fff;
        }
    }

    .contact-card {
        display: inline-flex;
        padding: 20px;
        border: 1px solid #fff9;
        border-radius: 10px;
        margin-top: 30px;
        color: #fff;
        .icon {
            margin-inline-end: 20px;
            flex-shrink: 0;
        }
        small {
            display: block;
            font-size: 16px;
            margin-bottom: 5px;
            opacity: 0.6;
        }
        .lnk {
            font-size: 18px;
            font-weight: bold;
        }
    }

    .img {
        width: calc(100% + 200px);
        margin-left: -100px;
    }

}

@media screen and (max-width: 991px) {
    .tc-header-st2 {
        .or-circle {
            height: 40%;
        }
        .img {
            margin-top: 50px;
        }
    }
}