/* --------------- offer st2 --------------- */
.tc-offer-st2 {
    position: relative;
    padding: 30px 0 180px;

    .bg {
        position: absolute;
        left: 0;
        width: 100%;
        height: calc(100% + 150px);
        max-height: unset;
        bottom: -150px;
    }

    .line {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
    }

    .offer-card {
        display: block;
        position: relative;
        margin-top: 30px;
        padding: 50px;
        background-color: #fff;
        border-radius: 30px;
        box-shadow: 0px 94px 94px 0px rgba(0, 0, 0, 0.03);
        &:hover {
            .arrow {
                color: var(--cr-orange1);
                &::before {
                    background-color: var(--cr-orange1);
                }
            }
        }

        .icon {
            height: 90px;
            margin-bottom: 30px;
        }

        .arrow {
            position: relative;
            margin-top: 40px;
            font-size: 15px;
            padding-inline-start: 32px;
            color: #ccc;
            &::before {
                position: absolute;
                content: "";
                left: 0;
                top: calc(50% - 2px);
                width: 40px;
                height: 2px;
                background-color: #ccc;
            }
        }

    }

}

@media screen and (max-width: 991px) {
    .tc-offer-st2 {

    }
}