/* --------------- footer st2 --------------- */
.tc-team-st2 {
    position: relative;
    padding: 150px 0;

    .bg {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 90%;
    }

    .cards {

        .row {
            .col-lg-3 {
                &:nth-of-type(1){
                    .team-card {
                        .info {
                            .social-icons {
                                background-image: var(--ln-orange1);
                                -webkit-background-clip: text;
                                -webkit-text-fill-color: transparent;
                            }
                        }
                    }
                }
                &:nth-of-type(2){
                    .team-card {
                        .info {
                            .social-icons {
                                background-image: var(--ln-green1);
                                -webkit-background-clip: text;
                                -webkit-text-fill-color: transparent;
                            }
                        }
                    }
                }
                &:nth-of-type(3){
                    .team-card {
                        .info {
                            .social-icons {
                                background-image: var(--ln-blue1);
                                -webkit-background-clip: text;
                                -webkit-text-fill-color: transparent;
                            }
                        }
                    }
                }
                &:nth-of-type(4){
                    .team-card {
                        .info {
                            .social-icons {
                                background-image: var(--ln-purple1);
                                -webkit-background-clip: text;
                                -webkit-text-fill-color: transparent;
                            }
                        }
                    }
                }
            }
        }

        .team-card {
            position: relative;
            border-radius: 30px;
            overflow: hidden;
            box-shadow: 0px 94px 94px 0px rgba(0, 0, 0, 0.05);
            background-color: #fff;
            .img {
                height: 350px;
                border-radius: 30px;
                overflow: hidden;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            .info {
                padding: 25px;
                .social-icons {
                    margin-top: 15px;
                    background-image: var(--ln-orange1);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    a {
                        font-size: 16px;
                        font-weight: bold;
                        margin-inline-end: 20px;
                    }
                }
            }
        }
    }

    .numbers {
        position: relative;
        background-color: #fff;
        border-radius: 30px;
        padding: 4vw;
        box-shadow: 0 94px 94px 0 rgba(0, 0, 0, 0.03);
        margin-top: 150px;
        .num-card {
            position: relative;
            text-align: center;
            padding-top: 40px;
            .shap {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
            }
        }
    }

    .line {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
    }

}

@media screen and (max-width: 991px) {
    .tc-team-st2 {
        .cards {
            .team-card {
                margin-bottom: 30px;
            }
        }
        .numbers .num-card {
            margin: 25px 0;
            .shap {
                top: -5px;
            }
        }
    }
}