/* --------------- video st2 --------------- */
.tc-video-st2 {
    position: relative;
    padding: 30px 0;

    .bg {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .play-btn {
        width: 140px;
        height: 140px;
        background-image: var(--ln-orange1);
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 35px;
        color: #fff;
    }

    h2 {
        font-size: 52px;
        transform: rotate(-15deg);
        transform-origin: bottom left;
        margin-top: 70px;
        font-weight: 500;
    }

}

@media screen and (max-width: 991px) {
    .tc-video-st2 {
        h2 {
            transform: rotate(0);
        }
    }
}