/* --------------- cases st4 --------------- */
.tc-cases-st4 {
    position: relative;
    padding: 150px 0 75px;

    .shap {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
    }

    .cases {
        .cases-colmn {
            &:nth-of-type(1){
                padding-top: 150px;
                .case-card {
                    &:nth-of-type(1){
                        .img {
                            height: 520px;
                        }
                    }
                }
                .case-card {
                    &:nth-of-type(2){
                        margin-inline-start: auto;
                        .img {
                            height: 370px;
                        }
                    }
                }
            }
            &:nth-of-type(2) {
                .case-card {
                    &:nth-of-type(1){
                        .img {
                            height: 370px;
                        }
                    }
                    &:nth-of-type(2){
                        max-width: unset;
                        .img {
                            height: 530px;
                        }
                    }
                }
            }

        }
        .case-card {
            position: relative;
            display: block;
            border-radius: 30px;
            overflow: hidden;
            background-color: #fff;
            box-shadow: 0px 94px 94px 0px rgba(0, 0, 0, 0.03);
            margin-top: 20px;
            max-width: 525px;
            &:hover {
                .img {
                    .float-arrow {
                        opacity: 1;
                        transform: scale(1);
                    }
                }
                .info {
                    .title {
                        color: var(--cr-orange1);
                    }
                }
            }
            .img {
                position: relative;
                border-radius: 30px;
                overflow: hidden;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
                .float-arrow {
                    position: absolute;
                    left: calc(50% - 50px);
                    top: calc(50% - 50px);
                    transform: scale(0.7);
                    width: 100px;
                    height: 100px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 50%;
                    background-image: var(--ln-orange1);
                    color: #fff;
                    font-size: 30px;
                    opacity: 0;
                    transition: all 0.3s ease;
                }
            }
            .info {
                padding: 30px;
                p {
                    font-size: 16px;
                    color: #5B5B5B;
                }
                .title {
                    font-size: 32px;
                    margin-top: 10px;
                    transition: all 0.3s ease;
                }
            }
        }
    }

}

@media screen and (max-width: 991px) {
    .tc-cases-st4 {
        padding: 75px 0;
        .cases {
            .cases-colmn{
                &:nth-of-type(1){
                    padding-top: 0;
                }
                .case-card .img {
                    height: 350px !important;
                }
            }
        }
    }
}