/* --------------- features st4 --------------- */
.tc-features-st4 {
    position: relative;
    overflow: hidden;

    .shap {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
    }

    .row {
        .col-lg-4 {
            &:nth-of-type(2){
                .feature-card {
                    background-image: linear-gradient(white, white), var(--ln-green1);
                }
            }
            &:nth-of-type(3){
                .feature-card {
                    background-image: linear-gradient(white, white), var(--ln-blue1);
                }
            }
        }
    }

    .feature-card {
        display: block;
        position: relative;
        margin-top: 30px;
        // padding: 50px;
        background-color: #fff;
        box-shadow: 0px 94px 94px 0px rgba(0, 0, 0, 0.03);
        border: double 2px transparent;
        border-radius: 30px;
        background-image: linear-gradient(white, white), var(--ln-orange1);
        background-origin: border-box;
        background-clip: content-box, border-box;
        &:hover {
            .arrow {
                color: var(--cr-orange1);
                &::before {
                    background-color: var(--cr-orange1);
                }
            }
        }

        .cont {
            padding: 50px;

            .icon {
                height: 90px;
                margin-bottom: 30px;
            }
    
            .arrow {
                position: relative;
                margin-top: 40px;
                font-size: 15px;
                padding-inline-start: 32px;
                color: #ccc;
                &::before {
                    position: absolute;
                    content: "";
                    left: 0;
                    top: calc(50% - 2px);
                    width: 40px;
                    height: 2px;
                    background-color: #ccc;
                }
            }

        }


    }

    .marq-slider {
        padding-top: 75px;
        .swiper-wrapper {
            -webkit-transition-timing-function: linear !important;
            transition-timing-function: linear !important;
            position: relative;
            pointer-events: none;
             .swiper-slide {
                width: max-content !important;
            }
        }
        h2 {
            color: #1919190a;
            text-align: center;
            // text-shadow: 0px 94px 94px #00000008;
            -webkit-text-stroke-width: 2px;
            -webkit-text-stroke-color: #19191907;
            font-size: calc(15vw + 20px);
            font-weight: 700;
            line-height: 1;
            text-transform: capitalize;
        }
    }

}

@media screen and (max-width: 991px) {
    .tc-features-st4 {

    }
}