/* --------------- header st4 --------------- */
.tc-header-st4 {
    position: relative;
    min-height: 100vh;
    padding: 200px 0 160px;    

    .info {
        position: relative;
        z-index: 60;
        h1 {
            font-size: 112px;
            text-transform: capitalize;
            font-weight: 700;
            span {
                background: linear-gradient(124deg, #FF5F6D 22.75%, #FFC371 72.61%);
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                text-transform: uppercase;
            }
        }
    }

    .imgs {
        position: relative;
        width: calc(100% + 250px);
        margin-inline-start: -250px;
        .main-img {
            position: relative;
            z-index: 20;
        }
    }
    
    .n-ltr {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: calc((100vw - 1600px) / 2);
        pointer-events: none;
    }

    .head-stars {
        position: absolute;
        top: 250px;
        left: calc((100vw - 1450px) / 2);
        pointer-events: none;
    }

    .main-img-bg {
        position: absolute;
        top: 0;
        right: 0;
        width: 53%;
        height: 100%;
        pointer-events: none;
    }

    .half-cir {
        position: absolute;
        right: 0;
        bottom: 150px;
        height: 450px;
        max-width: 30%;
        z-index: 30;
        pointer-events: none;
    }

    .float-cir {
        position: absolute;
        top: 200px;
        left: calc(50% - 100px);
        // width: 200px;
        height: 200px;
        max-width: 20%;
        pointer-events: none;
    }

    .line1 {
        position: absolute;
        left: 0;
        bottom: -15px;
        width: 100%;
        pointer-events: none;
    }

    .line2 {
        position: absolute;
        left: 0;
        bottom: -70px;
        width: 100%;
        pointer-events: none;
    }

}

@media screen and (min-width: 991px) {
    .tc-header-st4 {
        padding-inline-start: calc((100vw - 1320px) / 2 );
    }
}

@media screen and (max-width: 991px) {
    .tc-header-st4 {
        padding-bottom: 50px;
        .info {
            padding: 0 30px;
            h1 {
                font-size: 50px;
            }
        }
        .half-cir {
            height: max-content;
        }
        .main-img-bg {
            width: 100%;
            height: max-content;
            opacity: 0.5;
        }
        .imgs {
            width: 100%;
            margin-inline-start: 0;
            .main-img {
                margin-top: 50px;
            }
        }
        .line1 {
            bottom: 30px;
        }
        .line2 {
            bottom: 0;
        }
    }
}