/* --------------- pricing st4 --------------- */
.tc-pricing-st4 {
    position: relative;
    padding: 150px 0;

    .cards {
        position: relative;
        display: flex;
        align-items: flex-start;
        margin: 0 -15px;

        .price-card {
            position: relative;
            padding: 30px;
            background-color: #fff;
            border-radius: 30px;
            box-shadow: 0px 94px 94px 0px rgba(0, 0, 0, 0.03);
            width: calc(50% - 30px);
            margin: 0 15px;
            &:nth-of-type(2){
                margin-top: 100px;
                .card-body {
                    &::before {
                        background-image: var(--ln-orange1);
                    }
                }
            }
            .card-head {
                padding: 20px 0;
            }
            .card-body {
                position: relative;
                padding: 30px 20px;
                border-radius: 30px;
                overflow: hidden;
                margin-top: 30px;
                &::before {
                    position: absolute;
                    content: "";
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    background-image: var(--ln-green1);
                    opacity: 0.1;
                }
                .price {
                    font-size: 24px;
                    font-weight: 400;
                    margin-bottom: 20px;
                    small {
                        font-size: 16px;
                    }
                }
                .card-list {
                    li {
                        font-size: 16px;
                        margin: 15px 0;
                        strong {
                            color: #191919;
                        }
                        .fa-check {
                            font-size: 13px;
                            margin-inline-end: 10px;
                        }
                    }
                }
            }
        }
    }

}

@media screen and (max-width: 991px) {
    .tc-pricing-st4 {
        padding: 75px 0;

        .cards {
            display: block;
            margin: 0;
            .price-card {
                width: 100%;
                margin: 30px 0 !important;
            }
        }

    }
}