/* --------------- services st4 --------------- */
.tc-services-st4 {
    position: relative;
    padding: 80px 0;
    background-image: url(../img/ser_bg.png);
    background-size: cover;
    background-position: top;

    .service-card {
        position: relative;
        padding: 50px 30px;
        border-radius: 10px;
        margin-top: 30px;
        background-color: #FF986F;
        box-shadow: 0px 44px 44px 0px rgba(0, 0, 0, 0.05);
        overflow: hidden;
        .cont {
            position: relative;
            z-index: 20;
        }
        .icon {
            height: 75px;
            margin-bottom: 20px;
        }
        .check-list {
            li {
                font-size: 16px;
                display: flex;
                align-items: center;
                margin: 10px 0;
                .ico {
                    height: 15px;
                    margin-inline-end: 10px;
                    flex-shrink: 0;
                    img {
                        display: block;
                    }
                }
            }
        }
        .wh-cir {
            position: absolute;
            left: -230px;
            top: -300px;
            width: calc(100% + 400px);
            height: calc(100% + 270px);
            border-radius: 50%;
            background-color: #fff;
        }
        .float-cir {
            position: absolute;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            bottom: 30px;
            right: 50px;
            background-image: linear-gradient(124deg, #FF5F6D 22.75%, #FFC371 72.61%);
        }
    }

    .row {
        .col-lg-3 {
            &:nth-of-type(2) {
                .service-card {
                    background-color: #99D232;
                    .float-cir {
                        background-image: linear-gradient(126deg, #08B259 22.58%, #F3E51A 73.54%);
                    }
                }
            }
            &:nth-of-type(3) {
                .service-card {
                    background-color: #8ACAFE;
                    .float-cir {
                        background-image: linear-gradient(125deg, #7E8FFF 22.32%, #92EFFD 72.69%);
                    }
                }
            }
            &:nth-of-type(4) {
                .service-card {
                    background-color: #865DBB;
                    .float-cir {
                        background-image: linear-gradient(124deg, #392D69 22.75%, #B57BEE 72.61%);
                    }
                }
            }
        }
    }

    .clients {
        position: relative;
        padding-top: 50px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 -50px;
        .logo {
            margin: 30px 50px;
        }
    }

    .line {
        position: absolute;
        bottom: -50px;
        left: 0;
        width: 100%;
    }

}

@media screen and (max-width: 991px) {
    .tc-services-st4 {
        .clients {
            margin: 0;
            flex-wrap: wrap;
            .logo {
                margin: 0;
                width: 50%;
                padding: 20px 30px;
            }
        }
    }
}