/* --------------- subscribe st4 --------------- */
.tc-subscribe-st4 {
    position: relative;
    padding: 100px 0 150px;
    background-image: linear-gradient(to right, #F2FBF6, #FFFEF4);

    .subscribe-card {
        position: relative;
        padding: 50px 7vw;
        background-image: var(--ln-blue1);
        border-radius: 10px;
        * {
            color: #fff;
        }
        .form-group {
            position: relative;
            display: flex;
            z-index: 10;
            input {
                min-height: 60px;
                background-color: #fff3;
                border-radius: 100px;
                width: 100%;
                border: 0;
                color: #fff;
                padding: 15px 30px;
                &::placeholder {
                    color: #fff9;
                }
            }
            .arrow {
                width: 60px;
                height: 60px;
                border-radius: 50%;
                background-image: var(--ln-orange1);
                border: 0;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                flex-shrink: 0;
            }
        }
        .shap {
            position: absolute;
            left: 0;
            top: 0;
            width: 50%;
            height: 100%;
            object-fit: cover;
            pointer-events: none;
        }
    }

    .shap1 {
        position: absolute;
        bottom: 50px;
        left: 5vw;
    }

}

@media screen and (max-width: 991px) {
    .tc-subscribe-st4 {

    }
}