/* --------------- team st4 --------------- */
.tc-team-st4 {
    position: relative;
    padding: 75px 0 150px;
    background-image: url(../img/team_bg.png);
    background-size: cover;

    .container {
        max-width: 1430px;
    }

    .cards {
        position: relative;
        z-index: 20;

        .team-card {
            position: relative;
            border-radius: 30px;
            overflow: hidden;
            box-shadow: 0px 94px 94px 0px rgba(0, 0, 0, 0.05);
            background-color: #fff;
            margin-top: 30px;
            .img {
                height: 500px;
                border-radius: 30px;
                overflow: hidden;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            .info {
                padding: 25px;
                .social-icons {
                    display: inline-block;
                    margin-top: 15px;
                    background-image: var(--ln-orange1);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    a {
                        font-size: 16px;
                        font-weight: bold;
                        margin-inline-end: 20px;
                    }
                }
            }
        }
    }

    .line {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
    }

}

@media screen and (max-width: 991px) {
    .tc-team-st4 {
        .cards {
            .team-card {
                .img {
                    height: 350px;
                }
            }
        }
    }
}