/* --------------- testimonials st4 --------------- */
.tc-testimonials-st4 {
    position: relative;

    .testimonials-slider {
        position: relative;
        overflow: hidden;
        &::before {
            position: absolute;
            content: "";
            left: 0;
            top: 0;
            width: 10px;
            height: 100%;
            border-radius: 10px;
            background-image: linear-gradient(124deg, #FF5F6D 22.75%, #FFC371 72.61%);
            box-shadow: 0px 94px 94px 0px rgba(0, 0, 0, 0.03);
            z-index: 30;
        }
        .swiper-prev {
            position: absolute;
            right: 100px;
            bottom: 0;
            font-size: 20px;
            z-index: 30;
            transition: all 0.3s ease;
            &:hover {
                color: var(--cr-orange1);
            }
        }
        .swiper-next {
            position: absolute;
            right: 140px;
            bottom: 0;
            font-size: 20px;
            z-index: 30;
            transition: all 0.3s ease;
            &:hover {
                color: var(--cr-orange1);
            }
        }
    }

    .testi-card {
        position: relative;
        padding: 40px 75px;
        .user-rate {
            display: flex;
            align-items: center;
            margin-bottom: 30px;
            .icon {
                height: 30px;
                margin-inline-end: 20px;
                flex-shrink: 0;
            }
            .stars {
                color: var(--cr-orange1);
            }
            p {
                font-size: 16px;
                color: #5B5B5B;
                margin-bottom: 5px;
            }
        }
        .main-text {
            font-size: 24px;
            margin-bottom: 20px;
            font-weight: 500;
        }
        .user-info {
            h6 {
                font-size: 24px;
                font-weight: bold;
                margin-bottom: 5px;
            }
            p {
                font-size: 16px;
                color: #5B5B5B;
            }
        }
    }

}

@media screen and (max-width: 991px) {
    .tc-testimonials-st4 {
        .testi-card {
            padding: 30px 30px 30px 40px;
        }
    }
}