/* ========= [ * page-home_2 ]  =========*/

// side_menu
@import "side_menu";

// navbar
@import "navbar";

// header
@import "header";

// services
@import "services";

// about
@import "about";

// video
@import "video";

// cases
@import "cases";

// team
@import "team";

// features
@import "features";

// pricing
@import "pricing";

// testimonials
@import "testimonials";

// blog
@import "blog";

// subscribe
@import "subscribe";

// footer
@import "footer";

// ------------ home style ------------
.home-st4 {
  .text {
    color: #5b5b5b;
  }
}

[lang="ar"] {
  .home-st4 {
    direction: rtl;
    font-family: "El Messiri", sans-serif;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-family: "El Messiri", sans-serif;
    }

    .loader-wrap {
      direction: ltr;
    }

    .fa-long-arrow-right,
    .fa-chevron-right,
    .fa-arrow-right,
    .fa-long-arrow-left {
      transform: rotateY(180deg);
    }

    .tc-navbar-st4 {
      .navbar-nav {
        .nav-link {
          .arrow {
            left: auto;
            right: 0;
          }
        }
      }
    }

    .tc-header-st4 {
      .main-img-bg,
      .line1,
      .line2,
      .half-cir {
        right: auto;
        left: 0;
        transform: rotateY(180deg);
      }
      .n-ltr {
        left: auto;
        right: calc((100vw - 1600px) / 2);
      }
    }

    .tc-video-st4 {
      .play-btn {
        margin-inline-start: auto;
      }
    }

    .tc-testimonials-st4 {
      .testimonials-slider {
        .swiper-next {
          right: 100px;
        }
        .swiper-prev {
          right: 140px;
        }
      }
    }
  }
}

@media screen and (max-width: 991px) {
  .home-st4 {
    br {
      display: none;
    }
    .fsz-50 {
      font-size: 30px !important;
    }
    .fsz-45 {
      font-size: 25px !important;
    }

    .fsz-40 {
      font-size: 25px !important;
    }
    .mb-90 {
      margin-bottom: 40px !important;
    }
    .fsz-30 {
      font-size: 18px !important;
    }

    .mb-50 {
      margin-bottom: 30px !important;
    }

    .mt-5 {
      margin-top: 2rem !important;
    }
  }
}
