/* --------------- about st5 --------------- */
.tc-about-st5-1 {
    position: relative;
    padding: 75px 0;

    .about-card {
        position: relative;
        padding: 80px 50px;
        border-radius: 30px;
        background: linear-gradient(124deg, rgba(255, 95, 109, 0.05) 22.75%, rgba(255, 195, 113, 0.05) 72.61%);
        box-shadow: 0px 44px 44px 0px rgba(0, 0, 0, 0.05);
    }

    .num-card {
        position: relative;
        text-align: center;
        padding-top: 40px;
        display: block;
        width: 150px;
        height: 150px;
        .shap {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            max-height: unset;
        }
    }

    .rate-circle {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        // margin-inline-start: auto;
        width: 150px;
        height: 150px;
        border-radius: 50%;
        background-image: linear-gradient(124deg, rgba(255, 95, 109, 0.10) 22.75%, rgba(255, 195, 113, 0.10) 72.61%);
        .num {
            font-size: 32px;
            display: inline-block;
            margin-bottom: 5px;
        }
    }

}

.tc-about-st5-2 {
    position: relative;
    padding: 75px 0 150px;
    background-image: linear-gradient(to bottom, #F9FDFF, transparent);
    border-bottom: 1px solid #9995;

    .bg {
        position: absolute;
        left: 0;
        top: -150px;
        width: 100%;
        height: calc(100% + 150px);
        max-height: unset;
        object-fit: cover;
        object-position: top;
    }
    
    .check-items {
        display: flex;
        flex-wrap: wrap;
        .item {
            display: inline-flex;
            align-items: center;
            margin-inline-end: 40px;
            margin-top: 30px;
            .icon {
                height: 50px;
                width: 50px;
                object-fit: contain;
                margin-inline-end: 15px;
                flex-shrink: 0;
            }
            .txt {
                font-size: 24px;
                font-weight: bold;
            }
        }
    }
    .img {
        height: 675px;
        border-radius: 30px;
        overflow: hidden;
    }
}

@media screen and (max-width: 991px) {
    .tc-about-st5-1 {
        .num-card {
            height: calc(100% - 40px);
            margin: 40px 10px 0;
            .shap {
                max-height: 100%;
            }
        }
    }
    .tc-about-st5-2 {
        .img {
            height: 350px;
        }
    }
}