/* --------------- blog st5 --------------- */
.tc-blog-st5 {
    position: relative;
    padding: 75px 0;
    z-index: 30;

    .bg {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
    }

    .row {
        .col-lg-4 {
            &:nth-of-type(2){
                .post-card {
                    &::before {
                        background-image: var(--ln-green1);
                    }
                }
            }
            &:nth-of-type(3){
                .post-card {
                    &::before {
                        background-image: var(--ln-blue1);
                    }
                }
            }
        }
    }

    .post-card {
        position: relative;
        background-color: #fff;
        border-radius: 30px;
        overflow: hidden;
        padding: 30px;
        margin-top: 30px;
        border-radius: 30px;
        box-shadow: 0px 94px 94px 0px rgba(0, 0, 0, 0.03);
        border-radius: 30px;
        &::before {
            position: absolute;
            content: "";
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            border-radius: 30px;
            background-image: var(--ln-orange1);
            opacity: 0.1;
        }
        &::after {
            position: absolute;
            content: "";
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            border-radius: 30px;
            background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 0%, #FFF 100%);
            // opacity: 0.1;
        }
        &:hover {
            .img {
                .float-arrow {
                    opacity: 1;
                    transform: scale(1);
                }
            }
        }
        .img {
            display: block;
            position: relative;
            height: 250px;
            border-radius: 30px;
            overflow: hidden;
            z-index: 10;
            .float-arrow {
                position: absolute;
                left: calc(50% - 50px);
                top: calc(50% - 50px);
                transform: scale(0.7);
                width: 100px;
                height: 100px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 50%;
                background-image: var(--ln-orange1);
                color: #fff;
                font-size: 30px;
                opacity: 0;
                transition: all 0.3s ease;
            }
        }
        .info {
            position: relative;
            padding-top: 30px;
            z-index: 10;
        }
    }

    .line {
        position: absolute;
        left: 0;
        bottom: -50px;
        width: 100%;
    }

}

@media screen and (max-width: 991px) {
    .tc-blog-st5 {
        .line {
            bottom: 0;
        }
    }
}