/* --------------- cases st5 --------------- */
.tc-cases-st5 {
    position: relative;
    padding: 50px 0 75px;

    .case-card {
        position: relative;
        border-radius: 30px;
        overflow: hidden;
        color: #fff;
        display: block;
        margin-top: 24px;
        &::after {
            position: absolute;
            content: "";
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            border-radius: 30px;
            background-image: var(--Sweet-Morning, linear-gradient(124deg, #FF5F6D 22.75%, #FFC371 72.61%));
            opacity: 0;
            transition: all 0.3s ease;
        }

        &:hover {
            &::after {
                opacity: 0.9;
            }
            .float-icon {
                opacity: 1;
                transform: scale(1);
            }
            .info {
                opacity: 1;
                transform: translateY(0);
            }
        }

        .img {
            position: relative;
            height: 380px;
        }
        .float-icon {
            position: absolute;
            top: 65px;
            left: calc(50% - 50px);
            height: 100px;
            width: 100px;
            border-radius: 50%;
            border: 1px solid #fff;
            font-size: 30px;
            color: #fff;
            display: flex;
            align-items: center;
            justify-content: center;
            z-index: 5;
            opacity: 0;
            transform: scale(0.5);
            transition: all 0.3s ease;
        }
        .info {
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            padding: 40px 30px;
            z-index: 10;
            opacity: 0;
            transform: translateY(30px);
            transition: all 0.3s ease;
        }
    }

    
    @media (min-width: 1400px) {
        .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
            max-width: 1500px;
        }
    }

}


@media screen and (max-width: 991px) {
    .tc-cases-st5 {

    }
}