/* --------------- features st5 --------------- */
.tc-features-st5 {
    position: relative;
    overflow: hidden;
    padding: 150px 0;
    background-image: linear-gradient(to right, #FFF8F8, #FFFCF7);

    .line {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
    }

    .feature-card {
        display: block;
        position: relative;
        // padding: 50px;
        border-radius: 30px;

        .cont {

            .icon {
                height: 90px;
                margin-bottom: 30px;
            }
    
            .arrow {
                position: relative;
                margin-top: 40px;
                font-size: 15px;
                padding-inline-start: 32px;
                color: #ccc;
                &::before {
                    position: absolute;
                    content: "";
                    left: 0;
                    top: calc(50% - 2px);
                    width: 40px;
                    height: 2px;
                    background-color: #ccc;
                }
            }

        }


    }

}

@media screen and (max-width: 991px) {
    .tc-features-st5 {
        .feature-card {
            margin-bottom: 50px;
        }
    }
}