/* --------------- pricing st5 --------------- */
.tc-pricing-st5 {
    position: relative;
    padding: 75px 0;

    .row {
        .col-lg-4 {
            &:nth-of-type(2){
                .price-card {
                    .card-body {
                        &::before {
                            background-image: var(--ln-green1);
                        }
                    }
                }
            }
            &:nth-of-type(3){
                .price-card {
                    .card-body {
                        &::before {
                            background-image: var(--ln-blue1);
                        }
                    }
                }
            }
        }
    }

    .price-card {
        position: relative;
        padding: 30px;
        background-color: #fff;
        border-radius: 30px;
        box-shadow: 0px 94px 94px 0px rgba(0, 0, 0, 0.03);

        .card-head {
            padding: 20px 0;
        }
        .card-body {
            position: relative;
            padding: 30px 20px;
            border-radius: 30px;
            overflow: hidden;
            margin-top: 30px;
            &::before {
                position: absolute;
                content: "";
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                background-image: var(--ln-orange1);
                opacity: 0.1;
            }
            .price {
                font-size: 24px;
                font-weight: 400;
                margin-bottom: 20px;
                small {
                    font-size: 16px;
                }
            }
            .card-list {
                li {
                    font-size: 16px;
                    margin: 15px 0;
                    strong {
                        color: #191919;
                    }
                    .fa-check {
                        font-size: 13px;
                        margin-inline-end: 10px;
                    }
                }
            }
        }
    }

}

@media screen and (max-width: 991px) {
    .tc-pricing-st5 {
        .price-card {
            margin-bottom: 30px;
        }
    }
}