/* --------------- services st5 --------------- */
.tc-services-st5 {
    position: relative;
    overflow: hidden;
    
    .services-cards {
        position: relative;
        padding-bottom: 180px;

        .line1 {
            position: absolute;
            left: 0;
            bottom: 50px;
            width: 100%;
        }

        .line2 {
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
        }

    }

    .marq-slider {
        position: relative;
        overflow: hidden;
        padding: 75px 0;
        h2 {
            font-size: calc(5vw + 30px);
        }

        .swiper-wrapper {
            -webkit-transition-timing-function: linear !important;
            transition-timing-function: linear !important;
            position: relative;
            pointer-events: none;
            .swiper-slide {
                width: max-content !important;
                }
        }

    }


    .service-card {
        position: relative;
        margin-bottom: 30px;
        border-radius: 10px;
        box-shadow: 0px 44px 44px 0px rgba(0, 0, 0, 0.05);
        overflow: hidden;
        z-index: 20;
        background-color: #fff;
        &.card-circle {
            padding: 70px 30px;
            background-color: #99D232;
            .cont {
                position: relative;
                z-index: 20;
            }
            .icon {
                height: 75px;
                margin-bottom: 30px;
            }
            .wh-cir {
                position: absolute;
                left: -230px;
                top: -300px;
                width: calc(100% + 400px);
                height: calc(100% + 270px);
                border-radius: 50%;
                background-color: #fff;
            }
            .float-cir {
                position: absolute;
                width: 40px;
                height: 40px;
                border-radius: 50%;
                bottom: 30px;
                right: 50px;
                background-image: var(--ln-green1);
            }
        }
    }

}

@media screen and (max-width: 991px) {
    .tc-services-st5 {

    }
}