/* --------------- team st5 --------------- */
.tc-team-st5 {
    position: relative;
    padding: 75px 0;

    .container {
        position: relative;
        z-index: 20;
    }

    .bg {
        position: absolute;
        left: 0;
        top: -350px;
        width: 100%;
        height: calc(100% + 350px);
        max-height: unset;
        object-fit: cover;
        object-position: top;
    }

    .line {
        position: absolute;
        bottom: 300px;
        left: 0;
        width: 100%;
    }

    .cards {
        position: relative;
        z-index: 20;

        .team-card {
            position: relative;
            border-radius: 30px;
            overflow: hidden;
            box-shadow: 0px 94px 94px 0px rgba(0, 0, 0, 0.05);
            background-color: #fff;
            .img {
                height: 430px;
                border-radius: 30px;
                overflow: hidden;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            .info {
                padding: 25px;
                .social-icons {
                    display: inline-block;
                    margin-top: 15px;
                    background-image: var(--ln-orange1);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    a {
                        font-size: 16px;
                        font-weight: bold;
                        margin-inline-end: 20px;
                    }
                }
            }
        }
    }

    .marq-slider {
        position: relative;
        padding-top: 150px;
        z-index: 10;
        overflow: hidden;
        .swiper-wrapper {
            -webkit-transition-timing-function: linear !important;
            transition-timing-function: linear !important;
            position: relative;
            pointer-events: none;
             .swiper-slide {
                width: max-content !important;
            }
        }
        h2 {
            color: #1919190a;
            text-align: center;
            // text-shadow: 0px 94px 94px #00000008;
            -webkit-text-stroke-width: 2px;
            -webkit-text-stroke-color: #19191907;
            font-size: calc(15vw + 20px);
            font-weight: 700;
            line-height: 1;
            text-transform: capitalize;
        }
    }
    
    @media (min-width: 1400px) {
        .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
            max-width: 1500px;
        }
    }

}


@media screen and (max-width: 991px) {
    .tc-team-st5 {

    }
}