/* ========= [ * page-home_2 ]  =========*/

// side_menu
@import "side_menu";

// navbar
@import "navbar";

// header
@import "header";

// services
@import "services";

// about
@import "about";

// cases
@import "cases";

// pricing
@import "pricing";

// skills
@import "skills";

// team
@import "team";

// features
@import "features";

// testimonials
@import "testimonials";

// blog
@import "blog";

// subscribe
@import "subscribe";

// footer
@import "footer";

// ------------ home style ------------
.home-st5 {
  .text {
    color: #5b5b5b;
  }
}

@media screen and (max-width: 991px) {
  .home-st5 {
    br {
      display: none;
    }
    .fsz-50 {
      font-size: 30px !important;
    }
    .fsz-45 {
      font-size: 25px !important;
    }

    .fsz-40 {
      font-size: 25px !important;
    }
    .mb-90 {
      margin-bottom: 40px !important;
    }
    .fsz-30 {
      font-size: 18px !important;
    }

    .mb-50 {
      margin-bottom: 30px !important;
    }

    .mt-5 {
      margin-top: 2rem !important;
    }
  }
}
